<h1>Smart Insurance</h1>
<h5>optimale Sicherheit ohne Frustration</h5>
<div style="height:50px;"></div>
<label for="picture">Fahrzeugschein wählen</label>

<div style="height:10px;"></div>
<input class="mat-raised-button mat-primary" type="file" id="picture" (change)="onFileChange($event)" #fileInput accept="image/*">
  
<div style="height:30px;"></div>
<button mat-raised-button color="primary" [disabled]="!picture" (click)="onSubmit()">Hochladen und Beitrag berechnen</button>
<div style="height:30px;"></div>
<img src="/assets/loader.gif" *ngIf="s.loading" />
<div *ngIf="s.error">
    <h6>Fahrzeug wurde nicht gefunden</h6>
</div>