<h2>Persönliche Daten</h2>
<h5>aus dem Fahrzeugschein</h5>
<mat-form-field class="full-width">
    <input matInput placeholder="Name" [(value)]="s.name">
</mat-form-field>
<mat-form-field class="full-width">
    <input matInput placeholder="Strasse" [(value)]="s.strasse">
</mat-form-field>
<mat-form-field class="full-width">
    <input matInput placeholder="PLZ" [(value)]="s.plz">
</mat-form-field>
<mat-form-field class="full-width">
    <input matInput placeholder="Ort" [(value)]="s.ort">
</mat-form-field>
<div class="height:30px;"></div>
<button mat-raised-button color="primary" [routerLink]="['/final']"  class="btn">Bestellen</button>